<img class="headshot" src="cv-image.jpg" alt="Picutre of Viola"><div class="resume">
<div class="line-address">+1 (650) 704-5020<br />vcaretti@stanford.edu</div>
<table class="section"><tr><td class="section">
<a 
 id="x1-10000"></a>OBJECTIVE</td><td class="section-body">
          <ul class="itemize1">
          <li class="itemize"><tspan class="ptmr7t" >To find a cure for brain cancer in children, with focus on DIPG</tspan></li></ul>
</td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-20000"></a>HIGHLIGHTS <br 
class="newline" />OF <br 
class="newline" />QUALIFICATIONS</td><td class="section-body">
          <ul class="itemize1">
          <li class="itemize"><tspan class="ptmb7t" >Resident in Pediatric Neurology: </tspan><tspan class="ptmr7t" >Stanford Medicine</tspan>
           </li>
           <li class="itemize"><tspan class="ptmb7t" >Postdoctoral Fellow </tspan><tspan class="ptmr7t" >in Postnatal Neurodevelopment at Stanford</tspan>
           </li>
           <li class="itemize"><tspan class="ptmb7t" >PhD </tspan><tspan class="ptmr7t" >in Pediatric Neuro-Oncology</tspan>
           </li>
           <li class="itemize"><tspan class="ptmr7t" >Licensed </tspan><tspan class="ptmb7t" >Doctor of Medicine </tspan><tspan class="ptmr7t" >in the EU</tspan>
           </li>
           <li class="itemize"><tspan class="ptmb7t" >First authorship </tspan><tspan class="ptmr7t" >on 10 published manuscripts</tspan>
           </li>
           <li class="itemize"><tspan class="ptmr7t" >Began a </tspan><tspan class="ptmb7t" >novel line of research </tspan><tspan class="ptmr7t" >on DIPG</tspan>
           </li>
           <li class="itemize"><tspan class="ptmb7t" >Setup </tspan><tspan class="ptmbi7t" >in vivo </tspan><tspan class="ptmb7t" >work </tspan><tspan class="ptmr7t" >in the NRG</tspan>
           </li>
           <li class="itemize"><tspan class="ptmr7t" >Numerous </tspan><tspan class="ptmb7t" >grants</tspan><tspan class="ptmr7t" >, </tspan><tspan class="ptmb7t" >awards </tspan><tspan class="ptmr7t" >and </tspan><tspan class="ptmb7t" >scholarships</tspan>
           </li>
           <li class="itemize"><tspan class="ptmr7t" >Extensive mentoring, international and volunteer experience</tspan></li></ul>
</td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-30000"></a>WORK <br 
class="newline" />AUTHORIZATION</td><td class="section-body">
          <ul class="itemize1">
          <li class="itemize">Permanent Resident (Green Card Holder)</li></ul>
</td></tr></table>
<table class="section"><tr><td class="section">
<a 
 id="x1-40000"></a>EDUCATION</td><td class="section-body">
          <ul class="itemize1">
          <li class="itemize"> <tspan class="ptmb7t" >Stanford University School of Medicine </tspan>  <tspan class="right"  class="ptmr7t" >(June 2017 &#8211; Present)</tspan>


                       <br
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Stanford, CA, USA  </tspan><br
class="newline" />Pediatric Neurology Resident
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Stanford University </tspan>   <tspan class="right "ptmr7t" >(October 2012 &#8211; May 20017)</tspan>
                       <br
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Stanford, CA, USA  </tspan><br
class="newline" />Monje Lab <br
class="newline" />Postdoctoral Fellow: <tspan class="ptmri7t" >&#8220;Neuro-glial Interactions in the Glioma Microenvironment&#8221; </tspan><br
class="newline" />Stanford Optogentics Innovation Laboratory Course    <tspan class="ptmr7t" >(January</tspan>
                       <tspan class="ptmr7t" >2013)</tspan>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Cancer Center Amsterdam, VUmc </tspan>   <tspan class="right ptmr7t" >(May 2008 &#8211; July 2012)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Amsterdam, The Netherlands  </tspan><br 
class="newline" />Neuro-Oncology Research Group (NRG), VU University Medical Center (VUmc) <br 
class="newline" />Ph.D. Project: <tspan class="ptmri7t" >&#8220;Diffuse intrinsic pontine gliomas: towards new treatment strategies&#8221;</tspan>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Bicocca University of Medicine </tspan>   <tspan class="right ptmr7t" >(October 2000 &#8211; March 2007)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan, Italy  </tspan><br 
class="newline" />Degree: Doctor of Medicine <br 
class="newline" />Thesis: <tspan class="ptmr7t" >&#8220;Non-dopaminergic systems in Parkinson&#8217;s Disease: an [</tspan><tspan class="ptmr7t" >123</tspan><tspan class="ptmr7t" >I]</tspan><tspan class="cmmi" font-size="9">&#x03B2;</tspan><tspan class="ptmr7t" >-CIT SPECT Study&#8221; </tspan><br 
class="newline" /><tspan class="ptmri7t" >Student Council Representative to the Medicine Faculty </tspan>   <tspan class="ptmr7t" >(2003 &#8211;</tspan>
                       <tspan class="ptmr7t" >2004)</tspan>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Erasmus Project </tspan>  <tspan class="right ptmr7t" >(March &#8211; December 2006)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Amsterdam, The Netherlands  </tspan><br 
class="newline" /><tspan class="ptmri7t" >Experimental medical thesis internship </tspan>at the VUmc (Neurology Department)
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Impington Village College </tspan>  <tspan class="right ptmr7t" >(September 1998 &#8211; May 2000)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Cambridge, United Kingdom  </tspan><br 
class="newline" />International Baccalaureate <br 
class="newline" />Ranked 1st among all foreign students and 2nd in the graduating class.
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Tito Livio Liceum </tspan>   <tspan class="right ptmr7t" >(1994 &#8211; 1998)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan, Italy  </tspan><br 
class="newline" />Classical Studies including Greek and Latin </li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-50000"></a>MEDICAL <br 
class="newline" />BOARDS</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"> <tspan class="ptmb7t" >USMLE Step 1, 2CS, 2CK </tspan>   <tspan class="ptmr7t" >(October 2015 - August 5,</tspan>
                       <tspan class="ptmr7t" >2016)</tspan>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Medical Licensing Exam </tspan>   <tspan class="right ptmr7t" >(July 2007)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan, Italy  </tspan></li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                  
                  <a 
 id="x1-60000"></a>GRANTS <br 
class="newline" />&amp; <br 
class="newline" />FELLOWSHIPS</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"><tspan class="ptmri7t" >Lyla Nsouli foundation </tspan>Brain Cancer Research Grant 
                       <tspan class="right ptmr7t" >(2015)</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Bear Necessities </tspan>Pediatric Cancer Foundation fellowship 
                       <tspan class="right ptmr7t" >(2014)</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Child Health ResearchInstitute (CHRI) </tspan>Grant Support Award 
                       <tspan class="right ptmr7t" >(2013)</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Deans Postdoctoral Fellowship </tspan>(Stanford University) 
                       <tspan class="right ptmr7t" >(2013)</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >American Italian Cancer Foundation (AICF) </tspan>fellowship (not accepted) 
                       <tspan class="right ptmr7t" >(2013)</tspan></li></ul>
                  <!--l. 141--><p class="noindent" >
                                                                                                                                                                                                                         
                                                                                                                                                                                                                         
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-70000"></a>PUBLICATIONS</td><td class="section-body">
                       <dl class="enumerate-enumitem"><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >1.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >M.H.A.  Jansen*,  T.  Lagerweij*,  A.C.P.  Sewing*,  D.J.  Vugts,  D.G.  van  Vuurden,  C.F.M.  Molthoff,  </tspan><span class="underline"><tspan class="ptmb7t" >V.  Caretti  </tspan></span><tspan class="ptmr7t" >,  S.J.E.  Veringa,</tspan>
                       <tspan class="ptmr7t" >N.  Petersen,  A.M.  Carcaboso,  D.P.  Noske,  W.P.  Vandertop,  P.  Wesseling,  G.A.M.S.  van  Dongen,  G.J.L.  Kaspers,  E.  Hulleman.</tspan>
                       <tspan class="ptmr7t" >Bevacizumab  targeting  diffuse  intrinsic  pontine  glioma:  results  of  89Zr-bevacizumab  PET  imaging  in  brain  tumor  models.  </tspan><tspan class="ptmri7t" >Mol</tspan>
                       <tspan class="ptmri7t" >Cancer Ther </tspan><tspan class="ptmr7t" >(Sept 2016). 15(9):2166-74.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >2.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >H.S. Venkatesh*, T.B. Johung*, </tspan><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, A. Noll, Y. Tang, S. Nagaraja, E.M. Gibson, C.W. Mount, J. Polepalli, S.S. Mitra, P.J.</tspan>
                       <tspan class="ptmr7t" >Woo, R.C. Malenka, H. Vogel, M. Bredel, P. Mallick, M. Monje. Neuronal Activity Promotes Glioma Growth through Neuroligin-3</tspan>
                       <tspan class="ptmr7t" >Secretion. </tspan><tspan class="ptmri7t" >Cell </tspan><tspan class="ptmr7t" >(May 2015). 161(4): 803816.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >3.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >A.C.P. Sewing*, </tspan><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, T. Lagerweij*, P. Schellen, M.H.A. Jansen, D.G. van Vuurden, S. Idema, C.F. Molthoff, W.P. Vandertop,</tspan>
                       <tspan class="ptmr7t" >G.J.L. Kaspers, D.P. Noske, E. Hulleman. Convection enhanced delivery of carmustine to the murine brainstem: A feasibility study.</tspan>
                       <tspan class="ptmri7t" >J Neurosci Methods </tspan><tspan class="ptmr7t" >(Dec 2014). 238:88-94.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >4.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, M. Bugiani*, M. Freret, P. Schellen, M.H.A. Jansen, D.G. van Vuurden, G.J.L. Kaspers, PG Fisher, E Hulleman, P.</tspan>
                       <tspan class="ptmr7t" >Wesseling, H Vogel, M Monje. Subventricular spread of diffuse intrinsic pontine glioma. </tspan><tspan class="ptmri7t" >Acta Neuropathol </tspan><tspan class="ptmr7t" >(Oct 2014). 128(4):605-7.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >5.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V.  Caretti  </tspan></span><tspan class="ptmr7t" >,  C.  Sewing,  T.  Lagerweij,  P.  Schellen,  M.  Bugiani,  M.H.A.  Jansen,  D.G.  van  Vuurden,  A.C.  Navis,  I.  Horsman,  P.</tspan>
                       <tspan class="ptmr7t" >Wesseling, W.P. Vandertop, D.P. Noske, G.J.L. Kaspers, E. Hulleman, H. Vogel, M. Monje*, T. Wurdinger*. Human pontine glioma</tspan>
                       <tspan class="ptmr7t" >cells can induce murine tumors. </tspan><tspan class="ptmri7t" >Acta Neuropathol </tspan><tspan class="ptmr7t" >(Apr 2014). 127(6):897-909.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >6.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >E. Giovannetti, Q.Wang, A. Avan, N. Funel, E. Galvani, T. Lagerweij, D. Chiasserini, J.H. Lee, </tspan><span class="underline"><tspan class="ptmb7t" >V. Caretti </tspan></span><tspan class="ptmr7t" >, A. van der Velde, U.</tspan>
                       <tspan class="ptmr7t" >Boggi, Y. Wang, E. Vasile, G.J .Peters, T. Wurdinger, G. Giaccone. Role of CYB5A in pancreatic cancer prognosis and autophagy modulation.</tspan>
                       <tspan class="ptmr7t" >modulation. </tspan><tspan class="ptmri7t" >JNCI </tspan><tspan class="ptmr7t" >(Jan 2014). 106(1):djt346.</tspan>
                       </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >7.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >A. Avan*, </tspan><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, N. Funel*, E. Galvani, M. Maftouh, R.J. Honeywell, T. Lagerweij, O.V. Tellingen, D. Campani, D. Fuchs,</tspan>
                       <tspan class="ptmr7t" >H.M. Verheul, G.J .Schuurhuis, U. Boggi, G.J. Peters, T. Wrdinger, E. Giovannetti. Crizotinib inhibits metabolic inactivation of</tspan>
                       <tspan class="ptmr7t" >gemcitabine in c-Met-driven pancreatic carcinoma. </tspan><tspan class="ptmri7t" >Cancer Res </tspan><tspan class="ptmr7t" >(Nov 2015). 73(22):6745-56.</tspan>
                         </dd><dt class="enumerate-enumitem">
                     <tspan class="ptmr7t" >8.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, L. Hiddingh*, T. Lagerweij, P. Schellen, P.W. Koken,E.Hulleman, D. van Vuurden, W.P. Vandertop, G. Kaspers, D.P.</tspan>
                       <tspan class="ptmr7t" >Noske, T. Wurdinger. WEE1 Kinase Inhibition Enhances the Radiation Response of Diffuse Intrinsic Pontine Gliomas. </tspan><tspan class="ptmri7t" >Mol Cancer</tspan>
                       <tspan class="ptmri7t" >Ther </tspan><tspan class="ptmr7t" >(Dec 2012). 12(2):141-50.</tspan>
                       </dd><dt class="enumerate-enumitem">
                    <tspan class="ptmr7t" >9.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti* </tspan></span><tspan class="ptmr7t" >, M.H.A. Jansen*, D.G. van Vuurden, T. Lagerweij, M. Bugiani, I. Horsman, H. Wessels, P. van der Valk, J. Cloos,</tspan>
                       <tspan class="ptmr7t" >D.P. Noske, W.P. Vandertop, P. Wesseling, T. Wurdinger, E. Hulleman, G. Kaspers. Implementation of a Multi-Institutional Diffuse</tspan>
                       <tspan class="ptmr7t" >Intrinsic Pontine Glioma Autopsy Protocol and Characterization of a Primary Cell Culture. </tspan><tspan class="ptmri7t" >Neuropathol Appl Neurobiol </tspan><tspan class="ptmr7t" >(Jun 2013).</tspan>
                       <tspan class="ptmr7t" >39(4):426-36.</tspan>
                       </dd><dt class="enumerate-enumitem">
                    <tspan class="ptmr7t" >10.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti </tspan></span><tspan class="ptmr7t" >, D.P Noske, W.P. Vandertop, G. Kaspers, T. Wurdinger. Pioneering Preclinical Research in Diffuse Intrinsic Pontine</tspan>
                       <tspan class="ptmr7t" >Glioma: Towards New Treatment Strategies. </tspan><tspan class="ptmri7t" >PhD Thesis </tspan><tspan class="ptmr7t" >(July 2012).</tspan>
                       </dd><dt class="enumerate-enumitem">
                    <tspan class="ptmr7t" >11.</tspan> </dt><dd 
class="enumerate-enumitem"><tspan class="ptmr7t" >S. Idema, </tspan><span class="underline"><tspan class="ptmb7t" >V. Caretti </tspan></span><tspan class="ptmr7t" >, M. Lamfers, V. van Beusechem, D. Noske, W.P. Vandertop, C. Dirven. Anatomical differences determine</tspan>
                       <tspan class="ptmr7t" >distribution of adenovirus after convection-enhanced delivery to the rat brain. </tspan><tspan class="ptmri7t" >PLoS One </tspan><tspan class="ptmr7t" >(October 2011). 6(10) e24396.</tspan>
                       </dd><dt class="enumerate-enumitem">
                    <tspan class="ptmr7t" >12.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti </tspan></span><tspan class="ptmr7t" >, I. Zondervan, D. Meijer, S. Idema, W. Vos, B. Hamans, M. Bugiani, E. Hulleman, P. Wesseling, W. Vandertop, D. Noske,</tspan>
                       <tspan class="ptmr7t" >P. David G. Kaspers, C. Molthoff, T. Wurdinger. Monitoring of tumor growth and post-irradiation recurrence in a diffuse intrinsic</tspan>
                       <tspan class="ptmr7t" >pontine glioma mouse model. </tspan><tspan class="ptmri7t" >Brain Pathology </tspan><tspan class="ptmr7t" >(July, 2011). 21(4) 441-51.</tspan>
                       </dd><dt class="enumerate-enumitem">
                    <tspan class="ptmr7t" >13.</tspan> </dt><dd 
class="enumerate-enumitem"><span class="underline"><tspan class="ptmb7t" >V. Caretti </tspan></span><tspan class="ptmr7t" >, D. Stoffers, A. Winogrodzka, I-U. Isaias, G. Costantino, G. Pezzoli, C. Ferrarese, A Antonini,. E-Ch. Wolters, J. Booij.</tspan>
                       <tspan class="ptmr7t" >Loss of thalamic serotonin transporters in early drug-nave Parkinsons disease patients is associated with tremor: an [(123)I]beta-CIT</tspan>
                       <tspan class="ptmr7t" >SPECT study. </tspan><tspan class="ptmri7t" >J Neural Transm </tspan><tspan class="ptmr7t" >(May 2008). 115(5) 721-9. </tspan><br 
class="newline" /><br 
class="newline" /><tspan class="ptmr7t" >* Equal Contribution</tspan></dd></dl>
                  </td></tr></table>
                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                  
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-80000"></a>MENTORSHIP <br 
class="newline" />&amp; <br 
class="newline" />TEACHING</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"> <tspan class="ptmb7t" >Students Mentored</tspan>
                           <ul class="itemize2">
                           <li class="itemize">2 Undergraduate, 1 Medical, and 2 PhD Students (Stanford University)    <tspan class="right ptmr7t" >(2013 &#8211; 2016)</tspan>
                           <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >Stanford, CA</tspan>
                              <ul class="itemize3">
                              <li class="itemize">1 Undergraduate awarded the Stanford Firestone Medal 
                              <tspan class="right ptmr7t" >(2016)</tspan></li></ul>
                           </li>
                           <li class="itemize">3 Masters Students (Master Oncology, VUmc)    <tspan class="right ptmr7t" >(2009 &#8211; 2011)</tspan>
                           <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >Amsterdam</tspan></li></ul>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >Courses Taught</tspan>
                           <ul class="itemize2">
                           <li class="itemize">Neurology (Osteopath School of Milan)    <tspan class="right ptmr7t" >(2005-2006)</tspan>
                           <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan</tspan></li></ul>
                       </li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-90000"></a>AWARDS <br 
class="newline" />FOR <br 
class="newline" />INTERNATIONAL CLERKSHIPS</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"><tspan class="ptmb7t" >Hospital das Clinicas</tspan>, Neurology Department    <tspan class="right ptmr7t" >(August &#8211; September 2007)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Belo Horizonte, Brazil  </tspan><br 
class="newline" /> <tspan class="ptmr7t" >From: </tspan><tspan class="ptmri7t" >International Federation of Medical Students Associations</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmb7t" >Hospital Universitario Central de Asturias</tspan>, Pnumology Department    <tspan class="right ptmr7t" >(August 2004)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Oviedo, Spain  </tspan><br 
class="newline" /> <tspan class="ptmr7t" >From: </tspan><tspan class="ptmri7t" >International Federation of Medical Students Associations </tspan></li></ul>
                  <!--l. 198--><p class="noindent" >
                                                                                                                                                                                                                         
                                                                                                                                                                                                                         
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-100000"></a>HONORS</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"><tspan class="ptmri7t" >SLIC Facilitator </tspan>Stanford Leaders in Communication    <tspan class="right ptmr7t" >(June 2014)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0; </tspan><tspan class="ptmri7t" >Stanford, CA</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Best Presentation Award  </tspan>   <tspan class="right ptmr7t" >(November 2010)</tspan>
                       <br 
class="newline" />OOA (Annual Oncology Graduate School) Retreat <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Texel, The Netherlands</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Travel Award </tspan>   <tspan class="right ptmr7t" >(December 2007)</tspan>
                       <br 
class="newline" />WFN World Congress on Parkinson&#8217;s Disease and Related Disorders <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Amsterdam, The Netherlands </tspan></li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-110000"></a>MEDIA</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"><tspan class="ptmri7t" >Brains &amp; Bourbon </tspan>Ep18 Rethinking Brain Tumors    <tspan class="right ptmr7t" >(Sept 2014)</tspan>
                       <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0; </tspan><a 
href="http://goo.gl/qbEQNU" class="url" ><tspan class="pcrro7t" >http://goo.gl/qbEQNU</tspan></a>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Outside the tower. A night at the museum. </tspan>Mention in Letter in Science    <tspan class="right ptmr7t" >(July 2014)</tspan>
                       <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0; </tspan><a 
href="http://goo.gl/3oHs1X" class="url" ><tspan class="pcrro7t" >http://goo.gl/3oHs1X</tspan></a>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >NDRI Research Nexus: Brain Donations Empower Researchers at Stanford University </tspan>   <tspan class="ptmr7t" >(Dec</tspan>
                       <tspan class="ptmr7t" >2013)</tspan><br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0; </tspan><a 
href="http://goo.gl/PuhDzv" class="url" ><tspan class="pcrro7t" >http://goo.gl/PuhDzv</tspan></a>
                       </li>
                       <li class="itemize"><tspan class="ptmri7t" >Penguins &amp; Pajamas </tspan>Neurotalk at the Academy of Arts and Sciences    <tspan class="right ptmr7t" >(Sept 2013)</tspan>
                       <br 
class="newline" /><tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0; </tspan><a 
href="http://goo.gl/7TZ78Y" class="url" ><tspan class="pcrro7t" >http://goo.gl/7TZ78Y</tspan></a></li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-120000"></a>SYMPOSIA <br 
class="newline" />&amp; <br 
class="newline" />CONGRESSES</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"> Oral Presentations:
                           <ul class="itemize2">
                           <li class="itemize"> DIPG Research Related:
                              <ul class="itemize3">
                                                                                                                                                                                                     
                                                                                                                                                                                                     
                              <li class="itemize">International Symposium on Pediatric Neuro-Oncology    <tspan class="ptmr7t right" >(June 2012)</tspan><br 
class="newline" />                                                                                                                                      <tspan class="ptmri7t" >2 oral presentations</tspan>
                              <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Toronto, Canada</tspan>
                              </li>
                              <li class="itemize">Xth Dutch Pediatric Brain Tumor Group <br 
class="newline" />(KNOP &amp; DCOG) symposium    <tspan class="right ptmr7t" >(June 2009)</tspan>
                              <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Nijmegen, The Netherlands</tspan>
                              </li>
                              <li class="itemize">Barcelona DIPG workshop    <tspan class="right ptmr7t" >(February 2009)</tspan>
                              <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Barcelona, Spain </tspan></li></ul>
                           </li>
                           <li class="itemize"> Parkinsons Research Related:
                              <ul class="itemize3">
                              <li class="itemize">WFN World Congress on Parkinson&#8217;s Disease   <tspan class="right ptmr7t" >(December 2007)</tspan>
                              <br 
class="newline" />and Related Disorders <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Amsterdam, The Netherlands </tspan></li></ul>
                           </li></ul>
                       </li></ul>
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-130000"></a>ADDITIONAL INTERNATIONAL EXPERIENCES</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"> <tspan class="ptmb7t" >Editorial International Meeting </tspan>   <tspan class="right ptmr7t" >(1993 &#8211; 1999)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Buntingford, United Kingdom  </tspan><br 
class="newline" />The White House International Centre (Peace Child International) <br 
class="newline" />Financed by the United Nations. <br 
class="newline" /><tspan class="ptmri7t" >Artist-Editor </tspan>and <tspan class="ptmri7t" >painter </tspan>for the books:
                           <ul class="itemize2">
                           <li class="itemize"><tspan class="ptmri7t" >&#8217;Pachamama&#8217; </tspan>
                           <tspan class="right ptmr7t" >(1999)</tspan>
                           </li>
                           <li class="itemize"><tspan class="ptmri7t" >&#8217;Global Environment Outlook&#8217; </tspan>
                           <tspan class="right ptmr7t" >(1998)</tspan>
                           </li>
                           <li class="itemize"><tspan class="ptmri7t" >&#8217;a World in our Hands&#8217; </tspan>
                           <tspan class="right ptmr7t" >(1995)</tspan>
                           </li>
                           <li class="itemize"><tspan class="ptmri7t" >&#8217;Rescue Mission Planet Earth&#8217; </tspan>
                           <tspan class="right ptmr7t" >(1993)</tspan></li></ul>
                       </li>
                       <li class="itemize"> <tspan class="ptmb7t" >International Children&#8217;s Peace Council </tspan>   <tspan class="ptmr7t right" >(1993 &#8211; 1998)</tspan>
                           <ul class="itemize2">
                           <li class="itemize">
                           Various
                           educational
                           projects
                           on
                           sustainable
                           development
                           and
                           human
                           rights
                           in
                           elementary
                           and
                           secondary
                           schools.<br />
                           <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan,</tspan>
                           <tspan class="ptmri7t" >Italy</tspan>
                           <tspan class="ptmr7t right" >(1996 &#8211; 2007)</tspan>
                           </li>
                           <li class="itemize">
                           Delegate
                           in
                           the
                           <tspan class="ptmri7t" >Children&#8217;s</tspan>
                           <tspan class="ptmri7t" >Food</tspan>
                           <tspan class="ptmri7t" >Summit</tspan><br />
                           <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Rome,</tspan>
                           <tspan class="ptmri7t" >Italy</tspan>
                           <tspan class="ptmr7t right" >(November 1996)</tspan>
                           </li>
                           <li class="itemize">
                           Delegate
                           in
                           the
                           <tspan class="ptmri7t" >World</tspan>
                           <tspan class="ptmri7t" >Summit</tspan>
                           <tspan class="ptmri7t" >Children</tspan>
                           <tspan class="ptmri7t" >Project</tspan><br />
                           <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >San</tspan>
                           <tspan class="ptmri7t" >Jose,</tspan>
                           <tspan class="ptmri7t" >Costa</tspan>
                           <tspan class="ptmri7t" >Rica</tspan>
                           <tspan class="ptmr7t right" >(August 1996)</tspan>
                           </li></ul>
                       </li></ul>
                                                                                                                                                                                                                         
                                                                                                                                                                                                                         
                  <!--l. 291--><p class="noindent" >
                                                                                                                                                                                                                         
                                                                                                                                                                                                                         
                  </td></tr></table>
                  <table class="section"><tr><td class="section">
                  <a 
 id="x1-140000"></a>PROFESSIONAL THEATER TRAINING &amp; PERFORMANCE</td><td class="section-body">
                       <ul class="itemize1">
                       <li class="itemize"><tspan class="ptmb7t" >Being Scene</tspan>, A. Hayes    <tspan class="right ptmr7t" >(November 2013)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Stanford, CA</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmb7t" >The Symphonic Body: Stanford</tspan>, director A. Carlson    <tspan class="right ptmr7t" >(May 2013)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Stanford, CA</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmb7t" >Advanced Theatre Laboratory</tspan>, director G. Bagnoli    <tspan class="right ptmr7t" >(October 2004 - February 2006)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan, Italy</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmb7t" >Advanced Stage for Actors</tspan>, director G. Bagnoli    <tspan class="right ptmr7t" >(August 2005)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Florence, Italy</tspan>
                       </li>
                       <li class="itemize"><tspan class="ptmb7t" >&#8217;Quelli di Grock&#8217; Theater School</tspan>, 1st and 2nd year   <tspan class="right ptmr7t" >(October 2002 - July 2004)</tspan>
                       <br 
class="newline" /> <tspan class="cmsy" font-size="8">&#x22C5;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmr7t" >&#x00A0;</tspan><tspan class="ptmri7t" >Milan, Italy </tspan></li></ul>
                  </td></tr></table>
                  </div>  
